{
	"rules": {
		"strict": 0,
		"func-names": 0,
		"prefer-arrow-callback": 0,
		"no-var": 0
	},
	"ecmaFeatures": {
		"regexYFlag": false,
		"regexUFlag": false
	},
	"env": {
		"es6": false,
		"node": false,
		"browser": true,
		"jquery": true
	},
	"globals":{
	    "Handlebars": true
	}
}
