/* ======= Drop shadow ======*/
.shadow {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

body {
	padding-top: 70px;
}

.media {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.board {
	border: 1px solid black;
}

#replyDiv {
	display: none;
}