This is the home page. Stuff goes here.

<h2>Data:</h2>
<ul>
<li>Boards:
<ul>
{{#each boards}}
	<li>{{Name}}</li>
{{/each}}
</ul>
</li>

<li>Games:
<ul>
{{#each games}}
	<li>{{Name}}</li>
{{/each}}
</ul>
</li>
</ul>

<H2>Test media objects</h2>

<div class="media attribution">

  <i class="large material-icons img">insert_chart</i>

  <div class="bd">
    @Stubbornella 14 minutes ago
  </div>

</div>