<h2>Games</h2>
<div class="boardList">
{{#each games}}
	<div class="row">
		<div class="col-md-6 col-md-offset-1 media board shadow">
			<div class="media-left">
				<i class="large material-icons img">chat_bubble</i>
			</div>

		  <div class="media-body">
		     <h4 class="media-heading">{{Title}}</h4>
		    This is a description of the board. It goes here.
		  </div>

		</div>
	</div>
{{/each}}
</div>

<div class="row">
		<div class="col-md-4 col-md-offset-5 media" id="addGame">
			<div class="media-left">
				<i class="large material-icons img">games</i>
			</div>

		  <div class="media-body">
		     <h4 class="media-heading">Add Game</h4>
		  </div>

		</div>
	</div>

<h2>Boards</h2>
<div class="boardList">
{{#each boards}}
	<div class="row">
		<div class="col-md-6 col-md-offset-1 media board shadow">
			<div class="media-left">
				<i class="large material-icons img">chat_bubble</i>
			</div>

			<div class="media-body">
				<h4 class="media-heading">{{Title}}</h4>
				This is a description of the board. It goes here.
			</div>

		</div>
	</div>
{{/each}}
</div>

<div class="row">
		<div class="col-md-4 col-md-offset-5 media" id="addBoard">
			<div class="media-left">
				<i class="large material-icons img">note_add</i>
			</div>

		  <div class="media-body">
		     <h4 class="media-heading">Add Board</h4>
		  </div>

		</div>
	</div>

<script type="handlebars" id="boardModal">
<form>
<div class="alert alert-danger" role="alert" hidden="true"></div>
<div class="alert alert-success" role="alert" hidden="true"></div>
<input type="text" name="name" value="{{name}}"><br/>
<textarea name="description">{{description}}</textarea><br/>
Adult only: <input type="checkbox" name="adult" {{#if adult}}checked{{/if}}>
<input type="submit" id="submitModal">
</form>

</script>
<script src="/static/js/boards.js"></script>
<script src="/static/js/newBoard.js"></script>

<div class="modal fade" id="bsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
