<h2>Games</h2>
{{#each games}}
	<div class="row">
		<div class="media z-depth-3 col s6 offset-s1">

		  <i class="large material-icons img">chat_bubble</i>

		  <div class="bd">
		    <h4>{{Title}}</h4>
		    This is a description of the board. It goes here. 
		  </div>

		</div>
	</div>
{{/each}}

<h2>Boards</h2>
{{#each boards}}
	<div class="row">
		<div class="media z-depth-3 col s6 offset-s1">

		  <i class="large material-icons img">chat_bubble_outline</i>

		  <div class="bd">
		    <h4>{{Title}}</h4>
		    This is a description of the board. It goes here. 
		  </div>

		</div>
	</div>
{{/each}}