<h2>Games</h2>
{{#each games}}
	<div class="row">
		<div class="col-md-6 col-md-offset-1 shadow media">
			<div class="media-left">
				<i class="large material-icons img">chat_bubble</i>
			</div>

		  <div class="media-body">
		     <h4 class="media-heading">{{Title}}</h4>
		    This is a description of the board. It goes here. 
		  </div>

		</div>
	</div>
{{/each}}

<h2>Boards</h2>
{{#each boards}}
	<div class="row">
		<div class="col-md-6 col-md-offset-1 shadow media" style="margin-top: 10px">
			<div class="media-left">
				<i class="large material-icons img">chat_bubble</i>
			</div>

			<div class="media-body">
				<h4 class="media-heading">{{Title}}</h4>
				This is a description of the board. It goes here. 
			</div>

		</div>
	</div>
{{/each}}