This is the home page. Stuff goes here.

<h2>Data:</h2>
<ul>
<li>Boards:
<ul>
{{#each boards}}
	<li>{{Name}}</li>
{{/each}}
</ul>
</li>

<li>Games:
<ul>
{{#each games}}
	<li>{{Name}}</li>
{{/each}}
</ul>
</li>
</ul>