/* This is a dummy login page. NOT PRODUCTION SAFE~ */

<h2>Become User:</h2>
<form action="/login" method="post" multipart='urlencoded'>
    <select name="user">
        {{#each users}}
            <option value="{{ID}}">{{Username}}</li>
        {{/each}}
    </select>
    <input type="hidden" name="password" value="dummy">
    <input type="submit" value="Log In"/>
</form>