/* This is a dummy login page. NOT PRODUCTION SAFE~ */

<h2>Become User:</h2>
<!-- This needs to be handled somehow-->
<form>
    <label>Username:</label><input type="text" name="username"/>
    <input type="hidden" name="password" value="dummy">
    <input type="submit" value="Sign up"/>
</form>