<div class="row post">
    <div class="col-md-2 col-md-offset-1 media">
        <div class="media-left">
            <img src="{{User.avatar}}">
        </div>
        <div class="media-body">
            {{User.name}}<br/>
            {{Timestamp}}
        </div>
    </div>
    <div class="col-md-6">
    {{Body}}
    </div>
    <div class="col-md-8 col-md-offset-1">
        <hr style="gradiant">
    </div>
</div>
 