div(class="row post")
    .media-left
        img(src=User.avatar)
    .media-body
        User.name
        br
        Timestamp
    .col-md-6
        Body
    div(class="col-md-8 col-md-offset-1")
        hr(style="gradiant")